# Игнорировать временные файлы
*.log
*.tmp
*.bak

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать директории с зависимостями
node_modules/
bower_components/

# Игнорировать сгенерированные HTML файлы (если применимо)
*.html

# Игнорировать CSV файлы, если они не нужны в репозитории
*.csv

# Игнорировать кэш и временные каталоги
/cache/
temp/
